<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>We could not find the request page!</title>
        <link href="{{ baseUrl }}/assets/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div id="content" class="uk-width-medium-1-1">
                    <h1>We could not find the requested page!</h1>
                    <p>It seems that the page you requested does not exist. Please <a href="{{ baseUrl }}">go back to the company page</a> and see if the page you are seeking is listed there.</p>
                </div>
            </div>
        </div>
    </body>
</html>
