<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Something went wrong!</title>
        <link href="{{ baseUrl }}/assets/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div id="content" class="uk-width-medium-1-1">
                    <h1>An error has occurred!</h1>
                    <p>It seems something went wrong, please try again later to see if the problem has been resolved.</p>
                </div>
            </div>
        </div>
    </body>
</html>
